body{
    font-family: Poppins_Regular, Arial;
}

.banner::-webkit-scrollbar{
  height: 0;
  width: 0;
}

*{
  margin: 0;
  padding: 0;
}

.jss285 .input {
    padding: 0.5em 1.2em;
    font-size: 103%;
    border-radius: 3em;
    letter-spacing: -0.5px;
    background-color: #F0F0F0;
}